<!-- Modal -->
<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5
          class="modal-title text-white text-center font-bold"
          id="myModalLabel"
        >
          RULES
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body bg-gray-300 rounded-lg">
        <div class="flex flex-col gap-4">
          <!-- Rule 1 -->
          <div class="flex flex-col items-center">
            <p class="text-gray-700 font-bold">Rock</p>
            <p class="text-gray-500">Beats</p>
            <p class="text-gray-700 font-bold">Scissors</p>
          </div>
          <!-- Rule 2 -->
          <div class="flex flex-col items-center">
            <p class="text-gray-700 font-bold">Scissors</p>
            <p class="text-gray-500">Beats</p>
            <p class="text-gray-700 font-bold">Paper</p>
          </div>
          <!-- Rule 3 -->
          <div class="flex flex-col items-center">
            <p class="text-gray-700 font-bold">Paper</p>
            <p class="text-gray-500">Beats</p>
            <p class="text-gray-700 font-bold">Rock</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
