<section class="bg-gradient-to-r from-violet-950 via-violet-700 to-violet-950 w-screen h-screen flex flex-col justify-between items-center p-4">
  <section class="w-screen  flex justify-center ">
    <div class="p-4 flex justify-between  w-3/5 border-l-purple-50 border rounded-lg ccc">
      <div class="text-white font-black text-xl"><p>ROCK</p><p>PAPER</p><p>SCISSORS</p></div>
      <div class="bg-white w-2/12 flex flex-col justify-center items-center rounded-lg ggg"><p class="text-xl font-bold">SCORE</p><p class="text-xl font-bold" id="scoreCont" #scoreCont>{{score}}</p></div>
    </div>
  </section>
  <section id="secCont" #secCont>
    <ng-container *ngIf="!gameOver">
      <!-- Display choice buttons if the game is not over -->
      <div class="flex flex-col justify-center items-center gap-10">
        <div class="gap-16 flex">
          <button class="choice w-24 h-24 rounded-full border-8 border-blue-500 bg-white flex justify-center items-center" (click)="paperChoice()">
            <img src="images/icon-paper.svg" alt="Paper">
          </button>
          <button class="choice w-24 h-24 rounded-full border-8 border-yellow-500 bg-white flex justify-center items-center" (click)="rockChoice()">
            <img src="images/icon-rock.svg" alt="Rock">
          </button>
        </div>
        <div>
          <button class="choice w-24 h-24 rounded-full border-8 border-red-500 bg-white flex justify-center items-center" (click)="scissorChoice()">
            <img src="images/icon-scissors.svg" alt="Scissors">
          </button>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="gameOver">
      <!-- Display results and Play Again button if the game is over -->
      <div class="flex justify-between gap-4 mb-6 text-white font-black text-sm">
        <div>
          <p>Your choice was:</p>
          <div [innerHTML]="choicesForPrint[userChoice]"></div>
        </div>
        <div>
          <p>CPU's choice was:</p>
          <div [innerHTML]="choicesForPrint[cpuChoice]"></div>
        </div>


      </div>
      <div class="flex flex-col items-center justify-center">
        <p class="text-white font-black text-xl">{{result}}</p>
        <button       class="border-white border p-3 rounded text-white bbb"
        (click)="resetGame()">Play Again</button>

      </div>
    </ng-container>
  </section>
  <section class=" flex justify-end  w-3/5  ccc">
    <button
      class="border-white border p-3 rounded text-white bbb"
      type="button"  (click)="openModal()"
    >
      Rules
    </button>
  </section>

</section>

<app-rules></app-rules>
